[Unit]
Description=Actn.io %p %i service discovery

# Requirements
Requires=etcd.service
Requires=docker.service
Requires=__api__@%i.service

# Dependency ordering and binding
After=etcd.service
After=docker.service
After=__api__@%i.service
BindsTo=__api__@%i.service

[Service]
EnvironmentFile=/etc/environment

ExecStart=/bin/sh -c "while true; do etcdctl set /apps/__app__/actn/__api_path__/%i $(docker port $(docker ps | grep actn-__api__-%i | awk '{print $1}') 9000) --ttl 60; sleep 45; done"
ExecStop=/usr/bin/etcdctl rm /apps/__app__/actn/__api_path__/%i

[X-Fleet]
MachineOf=__api__@%i.service
