[Unit]
Description=Actn.io %p %i service discovery

# Requirements
Requires=etcd.service
Requires=docker.service
Requires=ui-render@%i.service

# Dependency ordering and binding
After=etcd.service
After=docker.service
After=ui-render@%i.service
BindsTo=ui-render@%i.service
#Before=%p-notify@%i.service


[Service]
EnvironmentFile=/etc/environment
ExecStart=/bin/sh -c "while true; do etcdctl set /apps/devos/apis/ui/render/%i $(docker port $(docker ps | grep ui-render-%i | awk '{print $1}') 9000) --ttl 30; sleep 20; done"
ExecStop=/usr/bin/etcdctl rm /apps/devos/apis/ui/render/%i

#[Install]
#WantedBy=app@devos.target

[X-Fleet]
X-ConditionMachineOf=ui-render@%i.service
