[Unit]
Description=Test service
After=etcd.service
After=docker.service


[Service]
Type=oneshot
PrivateTmp=true
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment

ExecStartPre=/home/core/actn/bin/actnctl apps:create %i
ExecStart=/home/core/actn/bin/actnctl apps:start %i
ExecStop=/home/core/actn/bin/actnctl apps:stop %i

[X-Fleet]
X-Conflicts=%p@*.service