[Unit]
Description=Actn.io %p %i service

# Requirements
Requires=etcd.service
Requires=docker.service
Requires=postgresql-discovery@$app.service


# Dependency ordering
After=etcd.service
After=docker.service
After=postgresql-discovery@$app.service

[Service]
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment

ExecStartPre=/usr/bin/docker pull hackberry/actn-$api

ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i

ExecStart=/bin/bash -c '/usr/bin/docker run --name %p-%i -p ${COREOS_PUBLIC_IPV4}::9000 -e RACK_ENV=production -e APP=$app -e DATABASE_URL=$(etcdctl get /apps/$app/addons/postgresql) hackberry/actn-$api rake jobs:work'

ExecStartPost=/usr/bin/etcdctl set /apps/$app/apis/$api/$endpoint/%i $(docker port $(docker ps | grep %p-%i | awk '{print $1}') 9000)

ExecStop=/usr/bin/docker stop %p-%i


#[Install]
#WantedBy=app@$app.target

[X-Fleet]
X-Conflicts=%p@%i.service
X-ConditionMachineMetadata="tag=$app"